<?xml version="1.0" ?>
<robot name="raw3-1-2" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--xacro:include filename="$(find ipa_order_picking_arm_planning)/robot_conf/urdf/raw3-1.urdf.xacro" /> -->
  
  <xacro:include filename="$(find cob_hardware_config)/raw3-1/urdf/raw3-1.urdf.xacro" />
  
  <xacro:macro name="raw3-1"/>
</robot>
